body{
    font-family: Arial;
}

/* Box style */
.box{
    width: 100px;
    height: 100px;
    background-color: lightcyan;
    text-align: center;
    line-height: 100px;
    position: relative;

    animation-name: moveBox;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* Keyframes */
@keyframes moveBox{
    0%{
        left: 0px;
    }
    50%{
        left: 200px;
    }
    100%{
        left: 0px;
    }
}