body{
    font-family: Arial;
}

.container{
    margin: 20px;
}

/* common box style */
.box{
    width: 120px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    color: white;
}

/* static */
.static{
    position: static;
    background: blue;
}

/* relative */
.relative{
    position: relative;
    left: 30px;
    background: green;
}

/* parent for absolute */
.parent{
    position: relative;
    width: 200px;
    height: 100px;
    border: 2px solid black;
    margin-top: 10px;
}

/* absolute */
.absolute{
    position: absolute;
    top: 10px;
    right: 10px;
    background: orange;
}

/* fixed */
.fixed{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: red;
}