/* Universal Selector */
* {
    font-family: 'Times New Roman', Times, serif;
}

/* Attribute Selector */
a[target="_blank"] {
    color: red;
}

/* Descendant Combinator */
div p {
    color: rgb(0, 0, 0);
}

/* Child Combinator */
div > p {
    background-color: lightblue;
}