* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    width: 600px;
    margin: 30px;
}

.box1 {
    display: block;
    width: 100%;
    padding: 20px;
    border: 3px solid rgba(0, 81, 255, 0.559);
    margin-bottom: 15px;
}

.box2 {
    display: inline-block;
    width: 250px;
    padding: 20px;
    border: 3px solid rgb(169, 185, 0);
    margin-right: 10px;
}

.box3 {
    display: inline;
    padding: 10px;
    border: 2px solid rgb(192, 0, 0);
}