body{
    font-family: Arial;
}

.flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 200px;
    border: 2px solid black;
}

.item{
    background-color: lightgreen;
    padding: 20px;
    width: 100px;
    text-align: center;
}

.item1{
    order: 3;
}

.item2{
    order: 1;
}

.item3{
    order: 2;
}