body{
    font-family: Arial;
}

/* Mobile First (default) */
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box{
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

/* Tablet Breakpoint */
@media (min-width: 600px){
    .container{
        flex-direction: row;
    }
}

/* Desktop Breakpoint */
@media (min-width: 900px){
    .box{
        background-color: lightgreen;
    }
}